* {
    box-sizing: border-box;
    background-color: black;
  }

body {
    margin: 0;
    font-family: 'Estonia', cursive;
    font-size: 40px;
    background-color:black;
    color:white;
    padding: 0px;
    margin:0px;
    border: 0px;
}

a {
    color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.header {
    text-align: center;
    font-family: 'Yuji Syuku', serif;
}

/* .work  { 
  background-image: url("assets/abandoned-houses/a22.jpg");
  width: 100%;
  height: auto;
 } */

 .about {
     border-top: 1px solid white;
     font-family: 'Estonia', cursive;
     margin: 20px;
     margin-top: 40px;
     padding: 40px;
     font-size: 40px;
 }




  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    margin-right: 25%;
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: -30px;
    right: 15px;
    color: white;
    font-size: 60px;
    cursor: pointer;
  }

/* image gallery */
/* image gallery */
/* image gallery */
/* image gallery */
/* image gallery */


.outer-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.inner-grid img {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
}

.inner-grid img:hover {
  opacity: 0.5;
}


@media screen and (min-width: 801px){
  #photo-gallery {
    margin-left: 20%;

  }
  .inner-grid {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  }
}




 @media screen and (min-width:601px) and (max-width: 800px) {
     .photo-gallery {
         margin-left: -20% !important;
     }
    .inner-grid {
       flex: 50%;
       max-width: 50%;
    }
    /* .work { 
      background-image: url("assets/abandoned-everything/d2.jpg");
      width: 100%;
      height: auto;
     } */

     .about {
      border-top: 1px solid black;
      font-family: 'Raleway', sans-serif;
      margin: 10px;
      padding: 10px !important;
      font-size: 15px;
     }

  }
 }
 @media screen and (max-width: 600px) {
    .photo-gallery {
        margin-left: -20% !important;
    }
    .inner-grid {
       flex: 100%;
       max-width: 100%;
    }

    .about {
      border-top: 1px solid black;
      font-family: 'Raleway', sans-serif;
      margin: 10px;
      padding: 10px !important;
      font-size: 15px;
  }
    /* .work { 
      background-image: url("assets/abandoned-everything/d2.jpg");
      width: 100%;
      height: auto;
     } */


    

    }
 }

 

